<div class="container">
  <h1><%= @task.title %></h1>
  <p><%= @task.details %></p>
  <%= link_to 'index', tasks_path, class: 'btn btn-light' %>
  <%= link_to task_path(@task), method: :delete, data: { confirm: "Remove #{@task.title}?" } do %>
    <i class="fas fa-times"></i>
  <% end %>
</div>
